{% extends 'base.html.twig' %}

{% block title %}Patient index{% endblock %}

{% block body %}
    <div class="main-content d-flex justify-content-between flex-wrap">
        <h2 class="page-title">Patient</h2>
        <div class="d-flex align-items-center flex-wrap text-nowrap">
            <a href="{{ path('app_patient_new') }}" class="btn btn-primary  mb-2 mb-md-0 ms-3">
                Create New
            </a>
        </div>        
    </div>

    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table" id="dataTableExample">
                            <thead>
                                <tr>
                                                                                        <th>Id</th>
                                                                                        <th>FirstName</th>
                                                                                        <th>MiddleName</th>
                                                                                        <th>LastName</th>
                                                                                        <th>Dob</th>
                                                                                        <th>Gender</th>
                                                                                        <th>Email</th>
                                                                                        <th>CellPhone</th>
                                                                                        <th>ResponsibleParty</th>
                                                                                        <th>PrimaryDentist</th>
                                                                                        <th>FeeSchedule</th>
                                                                                        <th>PreferredClinic</th>
                                                                                        <th>CreatedBy</th>
                                                                                        <th>UpdatedBy</th>
                                                                        <th class="text-end">actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for patient in patients %}
                                <tr>
                                                                            <td>{{ patient.id }}</td>
                                                                            <td>{{ patient.firstName }}</td>
                                                                            <td>{{ patient.middleName }}</td>
                                                                            <td>{{ patient.lastName }}</td>
                                                                            <td>{{ patient.dob ? patient.dob|date('Y-m-d') : '' }}</td>
                                                                            <td>{{ patient.gender }}</td>
                                                                            <td>{{ patient.email }}</td>
                                                                            <td>{{ patient.cellPhone }}</td>
                                                                            <td>{{ patient.responsibleParty }}</td>
                                                                            <td>{{ patient.primaryDentist }}</td>
                                                                            <td>{{ patient.feeSchedule }}</td>
                                                                            <td>{{ patient.preferredClinic }}</td>
                                                                            <td>{{ patient.createdBy }}</td>
                                                                            <td>{{ patient.updatedBy }}</td>
                                                                        <td class="text-end">
                                        <a href="{{ path('app_patient_show', {'id': patient.id}) }}" class="btn btn-inverse-info btn-xs">show</a>
                                        <a href="{{ path('app_patient_edit', {'id': patient.id}) }}" class="btn btn-inverse-warning btn-xs">edit</a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="15">No Records Found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
    
    
    

    
{% endblock %}
