{% extends 'base.html.twig' %}

{% block title %}Patient{% endblock %}

{% block body %}
    <h1>Patient</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ patient.id }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ patient.firstName }}</td>
            </tr>
            <tr>
                <th>MiddleName</th>
                <td>{{ patient.middleName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ patient.lastName }}</td>
            </tr>
            <tr>
                <th>Dob</th>
                <td>{{ patient.dob ? patient.dob|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ patient.gender }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ patient.email }}</td>
            </tr>
            <tr>
                <th>CellPhone</th>
                <td>{{ patient.cellPhone }}</td>
            </tr>
            <tr>
                <th>ResponsibleParty</th>
                <td>{{ patient.responsibleParty }}</td>
            </tr>
            <tr>
                <th>PrimaryDentist</th>
                <td>{{ patient.primaryDentist }}</td>
            </tr>
            <tr>
                <th>FeeSchedule</th>
                <td>{{ patient.feeSchedule }}</td>
            </tr>
            <tr>
                <th>PreferredClinic</th>
                <td>{{ patient.preferredClinic }}</td>
            </tr>
            <tr>
                <th>CreatedBy</th>
                <td>{{ patient.createdBy }}</td>
            </tr>
            <tr>
                <th>UpdatedBy</th>
                <td>{{ patient.updatedBy }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_patient_index') }}">back to list</a>

    <a href="{{ path('app_patient_edit', {'id': patient.id}) }}">edit</a>

    {{ include('patient/_delete_form.html.twig') }}
{% endblock %}
